$colorOriginal: rgb(191, 0, 255);
$colorSecundario: #0ff;

$colores:(
    color1: black,
    tamano: 35px,
    centro: center,
    );

.caja-mapa {
    background-color: map-get($colores , color1);
    font-size: map-get($colores , tamano);
    align-items: map-get($colores, centro);
}

.btn-primary {
    --bs-btn-color:white;
    --bs-btn-bg: black; 
    --bs-btn-border-color: rgb(191, 0, 255);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color: rgb(191, 0, 255);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: black;
    --bs-btn-active-border-color: rgb(191, 0, 255);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: black;
    --bs-btn-disabled-border-color: rgb(191, 0, 255);

    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
}

.boton-secundario {
    @extend .btn-primary;
    --bs-btn-bg: grey;
    --bs-btn-hover-bg: grey;
    --bs-btn-active-bg: grey;
    --bs-btn-disabled-bg: grey;
}

@mixin tamano ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.imgs{
    @include tamano(100px, 100px)
}

